
* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
 
}

body {
  background-color: #ffffff;
}
header{
  display: flex;
    background-color:#ffffff;
    padding-bottom: 50px;
    justify-content: center;
    
}
header img{
  width: 120px;
}

.busca{
  display: flex;
  justify-content: center;
}
.busca input{
  position: relative;
  font-size: 15px;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
 top: 20px;
}

.cat{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 80px;
    flex-direction: row;
    justify-content: center;
}

.food{
    display: flex;
    justify-content: center;
    background-color: orange;
    margin-left: 30px;
   padding-left: 50px;
   border-radius: 20px;
   
}


.food img{
    width: 90px;
    height: 90px;
    object-fit: cover;
}
.food p{
    position: relative;
  top: 40px;
  right: 30px;
  font-size: 20px;
  color: white;
 
}


