/* Reset básico */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* ===========================
   CABEÇALHO / PERFIL
=========================== */
header {
  display: flex;
  justify-content: center;
  background: #fff;
  padding: 30px 0;
}

.perfil {
  display: flex;
  gap: 20px;
  align-items: center;
}

.perfil img {
  width: 80px;
  height: 80px;
}

.perfil h1 {
  font-size: 20px;
}

/* ===========================
   CONFIGURAÇÕES
=========================== */

.configuracao {
  margin-top: 80px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 80px;
}

.dados {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.config {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  padding: 20px 50px;
  border-bottom: 1px solid #b5b5b5;
  cursor: pointer;
  transition: 0.2s;
}

.config i {
  font-size: 25px;
}

.config p {
  font-size: 22px;
}

.config:hover {
  color: #e98811;
}

/* torna toda a linha clicável */
.config a {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  color: inherit;
  width: 100%;
}

/* ===========================
   MENU INFERIOR
=========================== */

.menu-inferior {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #d47f39;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px 0;
  z-index: 1000;
}

.menu-inferior .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}

.menu-inferior .item i {
  font-size: 25px;
  margin-bottom: 3px;
}

.menu-inferior .item span {
  font-size: 14px;
  color: #eee;
}

.menu-inferior .item.ativo,
.menu-inferior .item:hover {
  color: #ffd3a2;
}
