
* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
 
}

header{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
}
.perfil{
    display: flex;
    gap: 20px;
    position: relative;
    top: 20px;

}

.perfil img{
    width: 80px;
    height: 80px;
}

.perfil h1{
    position: relative;
    font-size: 20px;
    top:20px;

}

/*configuração*/

.configuracao {
  margin-top: 100px;
  display: flex;
  justify-content: left;
  margin-bottom: 50px;
}

.dados {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.config {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 50px;
  cursor: pointer;
  transition: 0.2s ease;
}

.config:hover {
  color: #e98811;
}

.config i {
  font-size: 25px;
}

.config p {
  font-size: 25px;
  margin: 0;
}

.config {
  width: 90vw;
  border-bottom: 1px solid rgb(181, 181, 181);
  padding: 20px;
  text-align: center;
  margin: 0; /* evita o espaço lateral */
  margin-bottom: 20px;
}


/*menu inferior*/

.menu-inferior {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #d47f39;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px 0;
  z-index: 1000;
}

.menu-inferior .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #666;
  font-size: 12px;
  transition: color 0.2s;
}

.menu-inferior .item img {
  width: 24px;
  height: 24px;
  margin-bottom: 3px;
}

.menu-inferior .item.ativo,
.menu-inferior .item:hover {
  color: #ff7b00; /* laranja estilo ClickFood */
}

.fa-house {
  color: rgb(255, 255, 255); /* muda a cor do ícone */
  font-size: 25px; /* muda o tamanho */
}
.fa-magnifying-glass{
  font-size: 25px;
  color: rgb(255, 255, 255) ;
}
.fa-list{
  color: white;
  font-size: 25px;
}

.fa-user{
  color: white;
  font-size: 25px;
}

span{
  color: #d7d5d5;
  font-size: 15px;
}

.restaurantes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.restaurante {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  transition: 0.3s;
}

