* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Nunito', sans-serif;
}


body {
  background: white;
   opacity: 0;
    transition: opacity 0.8s ease;
}
body.loaded {
    opacity: 1;
}


main{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-self: center;
    height: 100vh;
}
/*form*/

.formularios{ /*container*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 400px;
    min-height: 400px;
    gap: 40px;
    padding: 25px;
    border-radius: 12px;
     box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}
.perfil{
    width: 80px;
}
 .formularios h1{
    font-size: 40px;
 }

 .formularios p{
color: #666;
 }

 .formularios input{
    border:1px solid rgb(214, 212, 212);
    max-width: 500px;
    font-size: 15px;
    height: 50px;
    border-radius: 10px;
 }
.inputs{
   display: flex;
   flex-direction: column;
   gap: 20px;
   width: 100%;
}
.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

::placeholder {

  color: #999;

  font-style: italic;

  opacity: 0.7; /* Define a transparência */

}


input:focus {
    outline: none;
    border-color: #e99d0e;
    box-shadow: 0 0 0 2px rgba(233, 157, 14, 0.2);
}


.dividir{
    display: flex;
    align-items: center;
    text-align: center;
    color: #999;
    font-size: 14px;
}

.dividir::before,
.dividir::after{
content: " ";
flex: 1;
border-bottom: 1px solid #ddd;
}


    .dividir::before{
        margin-right: 10px;
    }
    .dividir::after{
        margin-left: 10px;
    }

/* Estilização do Botão Principal */
#btnEntrar{
   
    color: white;
    border: none;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

/*entra google e apple*/
.google-login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #ffffff;
    color: #444;
    border: 1px solid #ddd;
    padding: 12px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    min-width: 190px;

}
.google{
    width: 20px;
}
.redes{
    display: flex;
    justify-content:center;
    gap: 10px;
    flex-direction: row;
    width: 100%;
}

/*****************************/
.cadastro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    gap: 10px;
}

.cadastro a {
    text-decoration: none;
    color: #666;
    font-size: 13px;
    transition: 0.3s;
}

.cadastro a:hover {
    color: #e99d0e;
}

/* Responsividade para Desktop */
@media (min-width: 1024px) {
    .login {
        max-width: 700px;
        padding: 80px; 
    }
    
 
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     width: 100%;
     height: 100vh;
     background-color: #f1f1f1;
     flex: 1;
}

.banner{
 display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     width: 100%;
     height: 100vh;
     background-color: #f08e0e;
     flex: 1;
}


.container{
    display: flex;
    flex-direction: column;
    padding: 0px 10px 0px 10px;
}

.container h1{
    color: white;
    font-size: 60px;
    width: 800px;
}

.motoboy{
    width: 450px;
}

@media (max-width: 600px){
.banner{
    display: none;
}
}

/* reaload*/

#btnEntrar{
  width: 150px;
  height: 45px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.loader{
  width: 18px;
  height: 18px;
  border: 3px solid white;
  border-top: 3px solid transparent;
  border-radius: 50%;

  display: none;

  animation: loading 0.8s linear infinite;
}

#btnEntrar.loading .loader{
  display: block;
}

#btnEntrar.loading .texto{
  display: none;
}

@keyframes loading{
  100%{
    transform: rotate(360deg);
  }
}