
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #f5f5f5; /* Um cinza bem claro para destacar o branco */
}


main {
  max-width: 1000px; 
  margin: 0 auto;    
  background-color: white;
}

/* RESTAURANTE (HEADER)*/

.restaurante {
  background-color: white;
  position: relative;
  margin-top: 60px; /* Ajustado para não sobrepor */
  padding: 20px;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 -5px 15px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-restaurante {
  display: flex;
  flex-direction: column;
 padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.container-restaurante img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.container-status{
position: relative;
bottom: 13px;
right: 18px;

}

/* CATEGORIAS (SCROLL HORIZONTAL)*/

.container-categorias {
  display: flex;
  gap: 10px;
  padding: 20px;
  background-color: white;
  overflow-x: auto;
  position: sticky; /* Fica preso no topo ao rolar */
  top: 0;
  z-index: 10;
}

.container-categorias a {
  flex: 0 0 auto;
  padding: 8px 20px;
  border-radius: 20px;
  text-decoration: none;
  color: rgb(218, 160, 11);
  background-color: #fff7e6;
  border: 1px solid rgb(224, 142, 28);
  font-size: 14px;
}

/* 
   CARDÁPIO
 */
.cardapio {
  padding: 10px 20px;
}

.categoria h1 {
  font-size: 22px;
  margin: 25px 0 15px 0;
  color: #333;
}

.cardapio-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}

.cardapio-item img {
  width: 90px;
  height: 90px;
  border-radius: 12px;
  object-fit: cover;
}

.cardapio-info {
  flex: 1; /* Faz o texto ocupar o espaço restante */
}

.cardapio-info h2 {
  font-size: 16px;
  color: #333;
  margin-bottom: 4px;
}

.cardapio-info p {
  font-size: 13px;
  color: #777;
}

.cardapio-info h3 {
  font-size: 16px;
  color: #1a7f37;
  margin-top: 8px;
}

/* BOTÃO MAIS LIMPO */
.cardapio-item button {
  width: 35px;
  height: 35px;
  border-radius: 50%; /* Redondo fica mais moderno */
  border: none;
  background: rgb(250, 181, 32);
  color: white;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
}

.cardapio-item button:active {
  transform: scale(0.9);
}

/* AJUSTES DESKTOP */
@media (min-width: 1024px) {
  .restaurante {
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
  }
  
  .container-categorias {
    justify-content: center;
  }

  .cardapio-item img {
    width: 120px;
    height: 120px;
  }
  .container-status{
  display: flex;
  flex-direction: column;
  top: 25px;
}
}