.menu-inferior {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ff8c00;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  z-index: 999;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-bottom: 10px;
}

.menu-inferior .item {
  flex: 1;
  /* Cada item ocupa a mesma largura */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  padding: 8px 0;
  /* Aumenta a área de toque */
}

.menu-inferior .item i {
  font-size: 22px;
  /* Ícone maior */
  margin-bottom: 4px;
}

.menu-inferior .item span {
  font-size: 13px;
  color: #fff;
  font-weight: 500;
}

.menu-inferior .item.ativo,
.menu-inferior .item:hover {
  color: #ffe6cc;
}



@media (min-width: 1024px) {
  .menu-inferior {
 width: 100%;
    max-width: 1200px; /* Define um limite de largura para não esticar no monitor todo */
    left: 50%;
    transform: translateX(-50%); /* Técnica clássica para centralizar elementos fixos */
    background: #e79026;
    border-radius: 15px 15px 0 0; /* Arredonda só as pontas de cima */
    padding: 10px 20px;
  }

  .menu-inferior .item {

    flex: 1;
    transition: transform 0.2s;


  }

 

}
